<!-- -->

<launch>
  <!-- transformation between lidar and base_link -->
  <param name="base_link_frame" value="vehicle_link" />
  
  <param name="left_lidar_topic" value="/left/rslidar_points" />
  <param name="right_lidar_topic" value="/right/rslidar_points" />
  <param name="fusion_topic" value="/fusion_topic" />
  
  
  <node pkg="tf" type="static_transform_publisher" name="name1" args="0.0 1 0 0.785398 0 0 vehicle_link left_lidar 100" />
  
  <node pkg="tf" type="static_transform_publisher" name="name2" args="-0.25 -1 0 -1.055 0 0 vehicle_link right_lidar 100" />

  
  <node pkg="doubleLidars_fusion" type="doubleLidars_fusion_node" name="doubleLidars_fusion_node">

  </node>
  
</launch>
